<div class="d-flex justify-content-between bg-white p-2 mb-2">
  <h4>Menu</h4>
  <nav>
    <%= link_to 'Add FIR', new_first_information_report_path, class: 'btn btn-success' %>
    <%= link_to 'All FIRs', first_information_reports_path, class: 'btn btn-info' %>
  </nav>
</div>
