<h1>Editing First Information Report</h1>

<%= render 'form', first_information_report: @first_information_report %>

<%= link_to 'Show', @first_information_report %> |
<%= link_to 'Back', first_information_reports_path %>
